<header class="header">
    <h1>
        Welcome to My Journey
    </h1>
    <h4>
        As a passionate frontend developer, I specialize in crafting seamless web experiences. My journey is driven by a
        commitment to innovation and continuous learning in the ever-evolving tech landscape.
    </h4>
    <img image-place-holder mat-card-image mainImageUrl="images/ma-dark-1.png" alt="About " loading="lazy"
        class="header-image">
</header>
<section id="education">
    <h1>
        My Journey: From Education to Career Aspirations in Tech
    </h1>
    <h4>
        With a solid educational foundation in programming and web development, I am passionate about creating
        innovative solutions. My goal is to excel as a Senior Angular Developer, continuously enhancing user experiences
        through cutting-edge technologies.
    </h4>

</section>
<!-- <section id="experience">
    <h1> 
       Professional Experience
    </h1>
    
</section>  -->