@use './variables.scss'as variables;

@keyframes topToDown {

    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }

}

@keyframes downToTop {
    0% {
        transform: translateY(2rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes rightToLeft {
    0% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes leftToRight {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }

    70% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

@mixin movingAnimation($animationName) {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: opacityAnimation, $animationName;
    animation-timing-function: linear;
}

@mixin myBoxShadow {
    font-weight: 600;
    border-radius: .5rem;
    border: .1rem solid variables.$beige;
    transition: all .15s ease;
    padding: .8rem;
    cursor: pointer;

    @media (hover:hover) {
        &:hover {
            background-color: variables.$black;
            box-shadow: 0px 0px 3px 1.5px;
        }
    }

    @media not (hover:hover) {

        &,
        &:focus {
            background-color: variables.$black;
        }
    }

    &:active {
        background-color: variables.$black;
        box-shadow: 0px 0px 3px 1.5px;
    }
}