@use '@angular/material'as mat;

$primary-gray: #DAE1E7;
$primary-gray-hover: #C4CDD5;
$primary-orange: #ff8c00;
$primary-orange-hover: #ff7a00;
$primary-blue: #1C4B82;
$primary-blue-hover: #153A6D;
$primary-dark-blue: #183661;
$primary-dark-blue-hover: #142B4D;

$federal-blue: #03045eff;
$russian-violet: #0F1035;
$honolulu-blue: #0077b6ff;
$blue-green: #0096c7ff;
$pacific-cyan: #00b4d8ff;
$vivid-sky-blue: #48cae4ff;
$non-photo-blue: #90e0efff;
$non-photo-blue-2: #ade8f4ff;
$light-cyan: #caf0f8ff;

$russian-violet: #231942ff;
$ultra-violet: #5e548eff;
$african-violet: #9f86c0ff;
$lilac: #be95c4ff;