@import '../../shared/variables.scss';

.section {
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    text-align: center;
    justify-content: center;
    background-color: $primaryLightGrayBlueColor ;
    color: $primaryCarbonColor;
    padding: 3rem 1rem;
    overflow: hidden;

    .part-symbol {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        justify-items: left;
        width: 42%;
        margin: auto;
        align-items: center;

        .symbol {
            width: 10rem;
        }

        .part-name {
            text-align: left;
        }
    }

    .title {
        width: 42%;
        margin: auto;
        text-align: left;

    }

    .parts {
        display: flex;
        flex-direction: row;
        column-gap: 5%;
        transform: translateX(0%);
        transition: cubic-bezier(.51, .92, .24, 1.15) transform .7s;
        overflow-x: infinite;
        scroll-snap-align: none center;

        .part {
            min-width: 40%;
            margin: auto;
            transition: all ease-in-out 0.4s;

            .description {
                padding: 1rem 2rem;
                text-align: left;
                border-left: solid $primaryCarbonColor 0.3rem;
                transition: all ease-in-out 0.4s;
            }

            .preview-image {
                width: 100%;
                height: 40rem;
                border-radius: 1.5rem;
                object-fit: cover;
                cursor: pointer;
                transition: all ease-in-out 0.4s;
            }

            &:first-child {
                margin-left: calc(50% - (40% / 2));
            }

            &:last-child {
                margin-right: calc(50% - (40% / 2));
            }
        }

        .clicked-part {
            transform: scale(1.05);

            .description,
            .preview-image {
                opacity: 1;
            }

            .preview-image {
                box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.3rem 0.8rem;
            }
        }

        .not-clicked-part {

            .description,
            .preview-image {
                opacity: 0.4;
            }

            .preview-image:hover {
                opacity: 0.8;
            }
        }
    }

    .switching-part-conrols {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 3rem;
        width: 60%;
        margin: auto;
        justify-content: center;

        .arrows {
            display: flex;
            flex-direction: row;
            column-gap: 2rem;
            width: max-content;
            margin: auto;

            .arrow {
                cursor: pointer;
            }

            fa-icon {
                font-size: 4rem;
                color: $primaryCarbonColor;
                transition: all ease-in-out 0.2s;

                &:active {
                    color: rgba($primaryCarbonColor, 0.8)
                }
            }

            .disabled {
                cursor: not-allowed;

                fa-icon {
                    opacity: 0.5;

                    &:active {
                        color: $primaryCarbonColor
                    }
                }
            }
        }

        .scroller {
            display: flex;
            flex-direction: row;
            width: 70%;
            margin: auto;
            border-radius: 1rem;
            background-color: white;
            overflow: hidden;

            .scroll-line {
                flex-grow: 1;
                border-bottom: 0.6rem solid #ffffff;
                cursor: pointer;
                transition: all ease-in-out 0.2s;

                &:hover {
                    border-bottom: 0.6rem solid rgba($primaryCarbonColor, 0.4);

                }
            }

            .clicked-line {
                border-bottom: 0.6rem solid $primaryCarbonColor;

                &:hover {
                    border-bottom: 0.6rem solid rgba($primaryCarbonColor, 1);

                }
            }
        }
    }

    @include respond(tab-port) {
        .parts .part {
            min-width: 80%;

            &:first-child {
                margin-left: calc(50% - (80% / 2));
            }

            &:last-child {
                margin-right: calc(50% - (80% / 2));
            }
        }
    }
}