@if(menuOpened){
<div class="container" [ngClass]="{'hide-items': !menuOpened, 'show-items': menuOpened}">
    <nav>
        <div class="links" (mouseover)="onBlendMode(true)" (mouseout)="onBlendMode(false)">
            <div class="box">
                <button (click)="onClickLink('/about-me')">About Me</button>
            </div>
            <div class="box">
                <button (click)="$event.preventDefault(); checkScrollingAbility('skillsSection')">Skills</button>
            </div>
            <div class="box">
                <button (click)="$event.preventDefault(); checkScrollingAbility('contact')">Contact</button>
            </div>
        </div>

    </nav>
    <div class="footer-container">
        <app-footer class="footer" [isOnSidebar]="true"></app-footer>
    </div>
</div>
}