@use '../../shared/variables.scss'as variables;
@use '../../shared/mixins.scss'as mixins;

.container {
    position: relative;
    padding: 4rem 0 10rem 0;

    nav {
        padding: 1rem;

        .close {
            @include mixins.myBoxShadow;

            & {
                position: absolute;
                top: 1rem;
                right: 1rem;
                padding: .2rem .6rem;
                border-radius: 2.5rem;
                font-size: 1.6rem;
            }
        }

        .links {
            display: grid;
            justify-content: center;
            text-align: center;
            row-gap: 1rem;
            padding: 1rem;
            font-size: 1.4rem;

            .box {
                overflow: hidden;

            }

            &:nth-child(2n) {
                animation-delay: 1s;
            }

            button {
                all: unset;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                animation-name: scrollDownLinks;
                animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                animation-duration: 1.5s;
                animation-fill-mode: forwards;

                @media (hover: hover) {
                    &:hover {
                        &::after {
                            left: 0;
                        }
                    }
                }

                &::after {
                    content: "";
                    display: block;
                    transition: left ease .2s;
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    left: -100%;
                    bottom: 0;
                    background-color: variables.$beige;
                }

            }
        }

    }

    .footer {
        position: fixed;
        overflow: hidden;
        bottom: 0;
        width: 100%;
    }
}

@keyframes scrollDownLinks {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}