@use '../../shared/variables.scss'as variables;
@use '../../shared/mixins.scss'as mixins;

.container {
    position: relative;
    padding: 4rem 0 10rem 0;

    nav {
        padding: 1rem;

        .close {
            @include mixins.myBoxShadow;

            & {
                position: absolute;
                top: 1rem;
                right: 1rem;
                padding: .2rem .6rem;
                border-radius: 2.5rem;
                font-size: 1.6rem;
            }
        }

        .links {
            display: grid;
            justify-content: center;
            text-align: center;
            row-gap: 1rem;
            padding: 1rem;
            font-size: 1.4rem;
            width: 100%;

            .box {
                overflow: hidden;
            }

            button {
                position: relative;
                overflow: hidden;
                animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                animation-fill-mode: forwards;
                bottom: -100%;

                @media (hover: hover) {
                    &:hover {
                        &::after {
                            left: 0;
                        }
                    }
                }

                &::after {
                    content: "";
                    display: block;
                    transition: left ease .2s;
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    left: -100%;
                    bottom: 0;
                    background-color: variables.$beige;
                }

            }
        }
    }

    .footer-container {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

        .footer {
            width: 100%;
            position: fixed;
        }
    }

    .box {
        overflow: hidden;
    }

    button,
    .footer {
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1.05);
        animation-duration: .8s;
        left: 0;
        bottom: 0;
    }
}

.hide-items {
    .box {
        &:first-child button {
            animation-delay: .3s;
        }

        &:nth-child(2n) button {
            animation-delay: .2s;
        }
    }

    .box button {
        animation-name: top-to-bottom;
    }

    .footer-container .footer {
        animation-name: top-to-bottom;
    }
}

.show-items {
    .box {
        &:nth-child(2n) button {
            animation-delay: .3s;
        }

        &:nth-child(3n) button {
            animation-delay: .6s;
        }
    }

    .box button {
        animation-name: bottomToTop;
    }

    .footer-container .footer {
        animation-name: bottomToTop;
    }
}

@keyframes top-to-bottom {
    0% {
        opacity: 1;
        bottom: 0%;
    }

    100% {
        opacity: 0;
        bottom: -100%;
    }
}

@keyframes bottomToTop {
    0% {
        opacity: 0;
        bottom: -100%;
    }

    100% {
        opacity: 1;
        bottom: 0;
    }
}