<div class="container">
    <nav>
        <div class="links" (mouseover)="onBlendMode(true)" (mouseout)="onBlendMode(false)">
            <button mat-raised-button (click)="onClickLink('/about-me')" >About Me</button>
            <button mat-raised-button
                (click)="$event.preventDefault(); scrollToSection('skillsSection')">Skills</button>
            <button mat-raised-button (click)="$event.preventDefault(); scrollToSection('contact')">Contact</button>
        </div>

    </nav>
    <app-footer class="footer" [isOnSidebar]="true"></app-footer>
</div>