<section>
    <h4>Get In Touch</h4>
    <div class="contact-me">
        @for ( contact of accounts; track $index){
        <div class="contact-icon">
            <a [href]="contact.url" target="_blank" title="{{contact.ariaLabel}}">
                <fa-icon
                    [icon]="[(contact.faIcon.iconPrefix ?  contact.faIcon.iconPrefix : 'fas'), contact.faIcon.iconName]"></fa-icon>
            </a>
        </div>
        }
    </div>
    @if(!isOnSidebar){
    <p class="author">
        Designed & Developed by <br /><b>Mohammad Ali Jarjoumah</b>
    </p>
    }
</section>