<section>
    <!-- <h1>Get In Touch</h1> -->
    <div class="contact-me">
        @for ( contact of accounts; track $index){
        <div class="contact-icon">
            <a [href]="contact.url" target="_blank">
                <fa-icon
                    [icon]="[(contact.faIcon.iconPrefix ?  contact.faIcon.iconPrefix : 'fas'), contact.faIcon.iconName]"></fa-icon>
            </a>
        </div>
        }
    </div>
    <div class="mail-to">
        <span>
            Email:
        </span>
        <span>
            <a href="mailto:mohammadalijarjoumah97@gmail.com" type="email">{{'mohammadalijarjoumah97@gmail.com'}}</a>
        </span>
    </div>
    <p class="author">
        Designed by <b>Mohammad Ali Jarjoumah</b>
    </p>
</section>