@use '../../shared/variables.scss'as variables;

section {
    padding: 1rem;
    margin-top: 1rem;
    border-top: 1px solid;
    width: 100%;
    display: grid;
    row-gap: 1rem;
    justify-content: center;
    text-align: center;
    background-color: variables.$black;

    h4 {
        margin: 1rem;
    }
}

.contact-me {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;

    .contact-icon {
        font-size: 1.5rem;
        transition: all ease .2s;

        @media (hover: hover) {
            &:hover {
                transform: rotate(6deg);
                opacity: .7;
            }
        }

        &:active {
            transform: rotate(3deg);
            opacity: .85;
        }
    }
}

.author {
    font-size: .8rem;
}