.header {
    background: url('../../../assets/images/pexels-philippedonn-1169754.jpg') no-repeat center center/cover;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 100vh;

    h1 {
        font-size: 2rem;
        margin: 0;
    }

    .btn {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }
}

.about {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;

    .about-content {
        flex: 1;

        h2 {
            font-size: 2rem;
            margin: 0;
        }

        p {
            font-size: 1.2rem;
            color: #333;
        }
    }
}