<header class="header">
    <div class="header-content">
        <h1 class="header-title">Hi, I'm Mohammad Ali Jarjoumah, a Frontend Developer</h1>
        <p class="header-description">Welcome to my portfolio. I am a web developer and I love to create beautiful
            websites, I want to be a Full Stack Web Developer.</p>
    </div>
</header>
<section class="about">
    <div class="about-content">
        <h2 class="about-title">About Me</h2>
        <p class="about-description">I am a Frontend Developer, I have a passion for web development and love to create
            beautiful websites. I am a self-taught developer and I have been learning web development for 2 years. I
            have experience in HTML, CSS, JavaScript and Angular. I am always learning new things and I am
            looking to become a Full Stack Web Developer.</p>
    </div>