@use './responsive.scss'as responsive;
@use './shared/variables.scss'as variables;

.app-container {
    position: relative;
    overflow: hidden;
}

#cursor-bg,
#cursor-circle,
#cursor-dot {
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
    transition: all .1s ease;
}

#cursor-bg {
    background-color: variables.$beige;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    filter: blur(150vw);
    opacity: .4;
}

#cursor-circle {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid variables.$beige;
    mix-blend-mode: difference;
}

#cursor-dot {
    background-color: transparent;
    width: .1rem;
    height: .1rem;
    border-radius: 50%;
    border: 2px solid variables.$beige;
    mix-blend-mode: difference;
}

.scale-default {
    width: 30px;
    height: 30px;
}

.scale-2 {
    width: calc(20px * 2);
    height: calc(20px * 2);
}

.scale-4 {
    width: calc(20px * 4);
    height: calc(20px * 4);
}

.hide {
    display: none;
}

.blend-mode {
    background-color: variables.$beige !important;
}

.mat-drawer.mat-drawer-opened {
    // -webkit-backdrop-filter: blur(35px);
    // backdrop-filter: blur(35px);
    // /* box-shadow: rgba(0, 0, 2, 0.448) 1px 1px 20px 0px; */
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.sidenav-height {
    height: calc(100vh - 100px);
    top: 100px;

    @include responsive.respond-to('md') {
        height: calc(100vh - 110px);
        top: 110px;
    }
}

.on-top {
    height: calc(100vh - 80px);
    top: 80px;

    @include responsive.respond-to('lg') {
        height: calc(100vh - 150px);
        top: 150px;
    }
}

.mat-toolbar-single-row {
    padding: 0;
}

mat-toolbar {
    position: relative;
    z-index: 1001;
}

.menu-opened {
    // display: grid;
    position: fixed;
    width: 100%;
    left: 0;
    background: variables.$black;
    z-index: 1000;
    opacity: 1;
}

.header-container {
    transition: all variables.$transitionVariable 1s;
}

.main {
    padding: 3rem 2rem 1rem 2rem;
}

.menu-closed {
    display: none;
    opacity: 0;
}