<div class="app-container"
    [ngClass]="{'menu-opened': (menuOpened && !isBigHeader), 'menu-closed': (isBigHeader && !menuOpened) }">
    <mat-toolbar color="primary" (closedStart)="menuToggled(false)">
        <div class="big-header">
            <app-header [isBigHeader]="isBigHeader" (menuToggled)="sidenav.toggle()" [isMenuOpened]="menuOpened"
                (onTopPosition)="onTopPosition($event)">
            </app-header>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav [ngClass]="{'on-top': isOnTop, 'sidenav-height': !isOnTop}" #sidenav mode="over"
            (openedChange)="menuToggled($event)">
            <app-sidenav (closeMenu)="menuToggled(!$event); sidenav.toggle()"></app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content [ngClass]="{'blur-content': menuOpened}">
            <router-outlet />
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>