@use './responsive.scss'as responsive;
@use './shared/variables.scss'as variables;

.app-container {
    position: relative;
    overflow: hidden;
}

#cursor-bg,
#cursor-circle,
#cursor-dot {
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
    transition: all .1s ease;
}

#cursor-bg {
    background-color: variables.$lilac;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    filter: blur(300px);
    opacity: .4;
}

#cursor-circle {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid variables.$lilac;
    mix-blend-mode: difference;
    // transform: scale(4);
}

#cursor-dot {
    background-color: transparent;
    width: .1rem;
    height: .1rem;
    border-radius: 50%;
    border: 2px solid variables.$lilac;
    mix-blend-mode: difference;
}

.scale-default {
    width: 30px;
    height: 30px;
}

.scale-2 {
    width: calc(20px * 2);
    height: calc(20px * 2);
}

.scale-4 {
    width: calc(20px * 4);
    height: calc(20px * 4);
}

.hide {
    display: none;
}

.blend-mode {
    background-color: variables.$lilac !important;
}

.mat-drawer.mat-drawer-opened {
    backdrop-filter: blur(35px);
    box-shadow: rgba(0, 0, 2, 0.448) 1px 1px 20px 0px;
    position: fixed;
    width: calc(100% - 1rem);
    max-width: calc(30rem - 1rem);
    border: .1rem solid;
    border-radius: 1.5rem;
    overflow: hidden;
}

.sidenav-height {
    height: calc(100vh - 100px);
    top: 100px;
}

.on-top {
    height: calc(100vh - 80px);
    top: 80px;

    @include responsive.respond-to('lg') {
        height: calc(100vh - 150px);
        top: 150px;
    }
}

.mat-toolbar-single-row {
    padding: 0;
}

mat-toolbar {
    position: relative;
    z-index: 1001;
}

.mat-drawer-backdrop.mat-drawer-shown {
    z-index: 10;
}

.blur-content {
    transition: all ease-in-out .2;
    filter: blur(6px);
}