<div class="app-container"
    [ngClass]="{'menu-opened': (menuOpened && !isBigHeader), 'menu-closed': (isBigHeader && !menuOpened) }">
    <mat-toolbar color="primary" (closedStart)="menuToggled(false)">
        <div>
            <app-header [isBigHeader]="isBigHeader" (menuToggled)="menuToggled($event)" [isMenuOpened]="menuOpened"
                (onTopPosition)="onTopPosition($event)" (blendMode)="blendMode($event)">
            </app-header>
        </div>
    </mat-toolbar>
    <main class="main">
        <div class="header-container" [ngClass]="{'menu-opened': menuOpened, 'menu-closed': !menuOpened,'on-top': isOnTop, 'sidenav-height': !isOnTop }"
            closeByEscape (escapeAction)="menuToggled(false)">
            <app-sidenav (closeMenu)="menuToggled(!$event)" (blendMode)="blendMode($event)"></app-sidenav>
        </div>
        <div>
            <router-outlet />
            <app-footer></app-footer>
        </div>
    </main>
    <div id="cursor-bg"></div>
    <div id="cursor-circle"></div>
    <div id="cursor-dot"></div>
</div>