@use './responsive.scss'as responsive;
@use './shared/variables.scss'as variables;

.app-container {
    position: relative;
    overflow: hidden;
}

#cursor-bg,
#cursor-circle,
#cursor-dot {
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

#cursor-bg,
#cursor-circle {
    transition: .15s;

}

#cursor-dot {
    transition: .2s;
}

#cursor-bg {
    background-color: variables.$ivoryMist;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    filter: blur(150vw);
    opacity: .4;
}

#cursor-circle {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid variables.$ivoryMist;
    mix-blend-mode: difference;
}

#cursor-dot {
    background-color: transparent;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    border: 2px solid variables.$ivoryMist;
    mix-blend-mode: difference;
}

$scalingSize: 60px;

.scale-default {
    width: $scalingSize;
    height: $scalingSize;
}

.scale-2 {
    width: calc($scalingSize * 2);
    height: calc($scalingSize * 2);
}

.scale-4 {
    width: calc($scalingSize * 4);
    height: calc($scalingSize * 4);
}

.hide {
    display: none;
}

.blend-mode {
    background-color: variables.$ivoryMist !important;
}

.mat-drawer.mat-drawer-opened {
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.sidenav-height {
    height: calc(100vh - 100px);
    top: 100px;

    @include responsive.respond-to('md') {
        height: calc(100vh - 110px);
        top: 110px;
    }
}

.on-top {
    height: calc(100vh - 80px);
    top: 80px;

    @include responsive.respond-to('lg') {
        height: calc(100vh - 150px);
        top: 150px;
    }
}

.mat-toolbar-single-row {
    padding: 0;
}

mat-toolbar {
    position: relative;
    z-index: 1001;
}

.menu-opened {
    z-index: 1000;
    opacity: 1;
}

.header-container {
    width: 100%;
    left: 0;
    position: fixed;
    background: transparent;
}

.main {
    padding: 3rem 2rem 1rem 2rem;
}

.menu-closed {
    animation-name: hideMenu;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.content {
    transition: filter ease 1s;
}

.blur-content {
    filter: blur(20px) brightness(40%);

}

.unblur-content {
    filter: blur(0px);
}

@keyframes hideMenu {
    0% {
        opacity: 1;
        display: grid;
    }

    100% {
        display: none;
        opacity: 0;
    }
}