<header [ngClass]="{'header-hidden':isScrolledDown, 'top-position':isTopPosition}" id="top">
    <button mat-raised-button (click)="onClickHome()" class="logo">
        <h3>M</h3>
    </button>
    <nav class="big-header">
        <div>
            <ol class="nav-links">
                <a (click)="$event.preventDefault(); scrollToSection('about')"> About </a><a
                    (click)="$event.preventDefault(); scrollToSection('skillsSection')">Skills</a>
                <a (click)="$event.preventDefault(); scrollToSection('contact')">Contact</a>
            </ol>
        </div>
    </nav>
    <div class="small-header">
        <button mat-icon-button (click)="toggleMenu()">
                <fa-icon icon="bars"></fa-icon>
        </button>
    </div>
    <!-- <span [ngSwitch]="Theme.DARK" (click)="toggleTheme()" class="theme-button">
        <ng-container *ngSwitchCase="true">
            <li>
                <mat-icon></mat-icon>
            </li>
        </ng-container>
        <ng-container *ngSwitchCase="true">
            <li *ngSwitchCase="false">
                <i class="fas fa-sun"></i>
            </li>
        </ng-container>
    </span> -->
</header>