@use '../../shared/mixins.scss'as mixins;
@use '../../shared/variables.scss'as variables;
@use '../../responsive.scss'as responsive;

@mixin header-items-sizing($size: 2.5rem) {

    @include responsive.responsive(xs) {
        height: $size * responsive.$font-size-scale-xs;
    }

    @include responsive.responsive(sm) {
        height: $size * responsive.$font-size-scale-sm;
    }

    @include responsive.responsive(md) {
        height: $size * responsive.$font-size-scale-md;
    }

    @include responsive.responsive(lg) {
        height: $size * responsive.$font-size-scale-lg;
    }

    @include responsive.responsive(xl) {
        height: $size * responsive.$font-size-scale-xl;
    }
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s variables.$transitionVariable;
    position: fixed;
    backdrop-filter: blur(7px); //to -
    box-shadow: rgba(0, 0, 2, 0.448) 1px 1px 20px 0px;
    z-index: 10;
    padding: 0 20px;
    box-sizing: border-box;
    top: 0;
    min-width: 25rem;

    .logo {
        $fillColor: variables.$beige;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        padding: .2rem;


        img {
            aspect-ratio: 4 / 3;
            transition: all variables.$transitionVariable .2s;
        }

        @media (hover: hover) {

            &:hover img {
                transform: scale(1.2);
                opacity: .7;
            }
        }

        &:active img {
            transform: scale(1.1);
            opacity: .9;
        }
    }
}

svg.menu-button {
    @include header-items-sizing;
}

.logo>img {
    @include header-items-sizing(2.2rem);
}

.small-header {
    border: 0;
    display: grid;
    justify-content: flex-end;
    padding: 0;
    transition: all .3s variables.$transitionVariable;

    .menu-button {
        stroke: variables.$beige;
        fill: none;
        stroke-width: 2px;
        cursor: pointer;

        &:active {
            opacity: .8;
        }
    }

    * {
        transition: all variables.$transitionVariable .2s;
    }

    circle {
        opacity: 1;
    }

    rect {
        width: 8px;
        height: 8px;
        opacity: .75;
        x: 20;
        y: 20;
        rx: 6;
        ry: 6;
    }
}

.nav-list {
    top: 10rem;
    position: absolute;
    width: 100%;
}

@include responsive.respond-to('md') {
    header {
        margin-top: 10px;
        width: calc(100% - 40px);
        border-radius: 2rem;
        justify-self: anchor-center;
    }

    .disable-hide-header {
        height: 120px;
        padding: 0 40px;
    }
}


.nav-links {
    display: flex;
    justify-content: flex-end;
    column-gap: 1.5rem;


    a,
    a[type=visited] {
        text-decoration: none;
        color: variables.$beige;
        cursor: pointer;
        transition: border-bottom .15s variables.$transitionVariable, opacity .15 variables.$transitionVariable;
        border-bottom: .15rem solid transparent;
        font-weight: 600;
        padding: .5rem;

        @media (hover: hover) {
            &:hover {
                border-bottom: .15rem solid variables.$beige;
            }
        }

        &:active {
            border-bottom: solid .1rem variables.$beige;
            opacity: .8;
        }
    }
}

a {
    @include mixins.movingAnimation($animationName:topToDown);
}

.header-hidden {
    transform: translateY(calc(-100% - 1rem));
    box-shadow: none;
}

.menu-opened {
    transform: rotate(135deg);

    circle {
        opacity: 0;
    }

    #r1,
    #r2 {
        opacity: 1;
    }

    #c1 {
        transform: translateX(-24px) translateY(-24px);
    }

    #c2 {
        transform: translateX(0px) translateY(-24px);
    }

    #c3 {
        transform: translateX(24px) translateY(-24px);
    }

    #c4 {
        transform: translateX(24px) translateY(0px);
    }

    #c5 {
        transform: translateX(24px) translateY(24px);
    }

    #c6 {
        transform: translateX(0px) translateY(24px);
    }

    #c7 {
        transform: translateX(-24px) translateY(24px);
    }

    #c8 {
        transform: translateX(-24px) translateY(0px);
    }

    #r1 {
        transform: translateX(-16px) translateY(0px);
        width: 40px;
    }

    #r2 {
        transform: translateX(0px) translateY(-16px);
        height: 40px;
    }

    rect {
        x: 21;
        y: 21;
        rx: 3;
        ry: 3;
    }
}

.menu-closed {
    transform: rotate(0deg);

    @media (hover: hover) {
        &:hover {

            #c2,
            #c4,
            #c6,
            #c8 {
                opacity: 0;
            }

            #r1,
            #r2 {
                opacity: 1;
            }

            #c2 {
                transform: translateX(0px) translateY(-24px);
            }

            #c4 {
                transform: translateX(24px) translateY(0px);
            }

            #c6 {
                transform: translateX(0px) translateY(24px);
            }

            #c8 {
                transform: translateX(-24px) translateY(0px);
            }

            #r1 {
                transform: translateX(-12px) translateY(0px);
                width: 30px;
            }

            #r2 {
                transform: translateX(0px) translateY(-12px);
                height: 30px;
            }

            rect {
                x: 21;
                y: 21;
                rx: 3;
                ry: 3;
                width: 6px;
                height: 6px;
            }
        }
    }
}

.top-position {
    height: 80px;
    box-shadow: none;
    margin: 0;
    width: 100%;

    @include responsive.respond-to('lg') {
        height: 150px;
    }
}

.disable-hide-header {
    box-shadow: none;
    margin: 0;
    width: 100%;
    border-radius: 0;
}