<header
    [ngClass]="{'header-hidden':isScrolledDown, 'top-position':isTopPosition, 'disable-hide-header ': isMenuOpened && !isTopPosition}"
    id="top">
    <a (click)="onClickHome()"
        [style]="['$fillColor:' + primaryColors.$africanViolet]"
        class="logo" (mouseover)="onBlendMode(true)" (mouseout)="onBlendMode(false)">
        <img src="images/ma-beige.png" alt="logo">
    </a>
    <div class="small-header" [ngClass]="{'menu-opened': isMenuOpened, 'menu-closed': !isMenuOpened}"
        (mouseover)="onBlendMode(true)" (mouseout)="onBlendMode(false)">
        <svg (click)="toggleMenu()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="icons-style"
            class="menu-button">

            <title>Menu</title>
            <circle cx="12" cy="12" r="4" id="c1"></circle>
            <circle cx="24" cy="12" r="4" id="c2"></circle>
            <circle cx="36" cy="12" r="4" id="c3"></circle>
            <circle cx="36" cy="24" r="4" id="c4"></circle>
            <circle cx="36" cy="36" r="4" id="c5"></circle>
            <circle cx="24" cy="36" r="4" id="c6"></circle>
            <circle cx="12" cy="36" r="4" id="c7"></circle>
            <circle cx="12" cy="24" r="4" id="c8"></circle>
            <rect id="r1"></rect>
            <rect id="r2"></rect>
        </svg>
    </div>
    <!-- <span [ngSwitch]="Theme.DARK" (click)="toggleTheme()" class="theme-button">
        <ng-container *ngSwitchCase="true">
            <li>
                <mat-icon></mat-icon>
            </li>
        </ng-container>
        <ng-container *ngSwitchCase="true">
            <li *ngSwitchCase="false">
                <i class="fas fa-sun"></i>
            </li>
        </ng-container>
    </span> -->
</header>