@use '../../shared/variables.scss'as variables;
@use '../../responsive.scss'as responsive;


header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: width 0.3s variables.$transitionVariable, box-shadow .3s variables.$transitionVariable;
    position: fixed;
    backdrop-filter: blur(7px);
    box-shadow: rgba(0, 0, 2, 0.448) 1px 1px 20px 0px;
    z-index: 10;
    padding: 0 2rem;
    box-sizing: border-box;

    .logo {
        font-family: "Nova Square", serif;
    }
}

.big-header {
    display: none;
}

.small-header {
    display: grid;
    justify-content: flex-end;

    mat-icon {
        cursor: pointer;
    }

}

// mat-sidenav-container {
//     height: 100vh;
//     position: fixed;
//     width: 100%;
//     top: 0;
// }

// mat-drawer {
//     width: 15rem;
//     background-color: variables.$russian-violet;
//     z-index: 5;
//     text-align: center;
//     box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
// }

.nav-list {
    top: 10rem;
    position: absolute;
    width: 100%;
}

.menu-icon {
    position: absolute;
    top: 0;
    height: 100%;
    right: 1rem;
    z-index: 10;
    display: grid;
    align-items: center;
}

@include responsive.respond-to('md') {

    header {
        margin-top: 1rem;
        width: calc(100% - 4rem);
        border-radius: 2rem;
        justify-self: anchor-center;

        .logo {
            font-size: 2rem;
            border-radius: 1rem;
        }
    }

    .menu-icon {
        display: none;
    }

    .big-header {
        display: block;
    }

    .small-header {
        display: none;
    }
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    column-gap: 1.5rem;
}

a,
a[type=visited] {
    text-decoration: none;
    color: variables.$lilac;
    cursor: pointer;
    transition: border-bottom .15s variables.$transitionVariable, opacity .15 variables.$transitionVariable;

    font-weight: 600;
    padding: .5rem;
    border-bottom: .15rem solid transparent;

    @media (hover: hover) {
        &:hover {
            border-bottom: .15rem solid variables.$lilac;
        }
    }

    &:active {
        border-bottom: solid .1rem variables.$lilac;
        opacity: .8;
    }
}

.header-hidden {
    transform: translateY(calc(-100% - 1rem));
    box-shadow: none;
}

.top-position {
    height: 80px;
    box-shadow: none;
    margin: 0;
    width: 100%;

    @include responsive.respond-to('lg') {
        height: 150px;
    }
}