// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '/theme-colors' as theme;
@use '@angular/material'as mat;
@use 'app/shared/variables'as colors;
@use 'app/responsive'as responsive;
@use 'app/themes/light-theme.scss';
@use 'app/themes/dark-theme.scss';
@use 'app/themes/custom-themes.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


html {
    color-scheme: light;
    @include mat.theme((color: mat.$azure-palette));
}

html.dark-mode {
    color-scheme: dark;
    @include mat.theme((color: mat.$violet-palette));
}

p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    transition: all ease-in-out .2s;
}


html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background: colors.$light-cyan;
    border-radius: .5rem;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}