// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '/theme-colors' as theme;
@use '@angular/material'as mat;
@use 'app/shared/variables'as colors;
@use 'app/responsive'as responsive;
@use 'app/themes/light-theme.scss';
@use 'app/themes/dark-theme.scss';
@use 'app/themes/custom-themes.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


html {
    // color-scheme: light;
    // @include mat.theme((color: mat.$azure-palette));
}

html.dark-mode {
    // color-scheme: dark;
    // @include mat.theme((color: mat.$violet-palette));
}

p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
    color: colors.$lilac;
    transition: all ease-in-out .2s;
    background: colors.$russian-violet;
}

fa-icon{
    color: colors.$lilac;
}

body.overflow-hidden {
    overflow: hidden;
}

.mat-mdc-raised-button:not(:disabled) {
    border-radius: .5rem;
    border: .1rem solid colors.$african-violet;
    transition: all .15s cubic-bezier(.4, 0, .2, 1);
    padding: 2rem;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        filter: drop-shadow(0 -11px -20px rgba(0, -20, -77, 30.04));
        backdrop-filter: blur(7px);
        background-color: rgba(159, 134, 192, 0.1);
    }
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background: colors.$lilac;
    border-radius: .5rem;
}

html,
body {
    height: 100%;
}