<section class="header">
    <div class="header-content">
        <div>
            Hello, my name is
            <h1 class="header-title">
                Mohammad Ali Jarjoumah
            </h1>
            <h1 class="header-title">
                I bring ideas to life online
            </h1>
            <p class="header-description">
                I am a frontend software developer currently I’m focusing on becoming a full-stack software engineer.
            </p>
        </div>
        <div class="buttons">
            <button color="primary" routerLink="/projects" mat-raised-button>
                My Projects
            </button>
        </div>
    </div>
</section>
<section id="about">
    <h1 class="about-title">About Me</h1>
    <div class="about-me-details">
        <p class="about-description">Results-driven Angular developer translating complex requirements into efficient
            code and exceptional user experiences. I thrive on challenging projects, finding innovative solutions to
            optimize performance and deliver impactful results.<br>
            <br>
            I'm seeking a challenging and rewarding role where I can contribute to the development of innovative web
            applications and further enhance my expertise in Angular and related technologies. I'm particularly
            interested in opportunities to work on full-stack applications using.NET Core and cloud platforms like
            AWS.<br>
            <br>
            I'm committed to staying at the forefront of Angular advancements, including exploring the latest features
            in Angular 19 and beyond, and I'm also expanding my knowledge of .NET Core and .NET MAUI and
            ASP.NET.<br><br> I'm eager to
            contribute to a high-performing team and collaborate on challenging projects that push the boundaries of web
            development, you can find more details in <a href="/about-me">about me</a> page
        </p>
        <div class="my-image">
            <img src="images/profile-image.jpg" alt="Developer">
        </div>
    </div>
</section>
<section id="skillsSection">
    <h1>skills</h1>
    <div class="skills-cards">
        @for (skill of skills; track $index) {
        <div class="skill-card">
            <span>
                @if (skill.faIcon) {
                <fa-icon
                    [icon]="[(skill.faIcon.iconPrefix ?  skill.faIcon.iconPrefix : 'fas'), skill.faIcon.iconName]"></fa-icon>
                } @else {
                <img src="{{skill.svgIcon}}">
                }
            </span>
            <h6>{{skill.title}}</h6>
            <!-- <p>{{skill.description}}</p> -->
            <p class="level">{{skill.level}}</p>
        </div>
        }
    </div>
</section>

<section id="contact">
    <h1>Let's Connect</h1>
    <div>
        <p>
            Feel free to reach out with any questions or inquiries
        </p>
    </div>
    <contact-form></contact-form>
</section>