<section class="details-with-image header">
    <div class="header-content details-side">
        <div>
            <div class="box">
                <h5 class="name">
                    Hey, I’m
                </h5>
            </div>
            <div class="box">
                <h1 class="header-title">
                    Mohammad Ali Jarjoumah
                </h1>
            </div>
            <div class="box">
                <h1 class="header-title">
                    I bring ideas to life online
                </h1>
            </div>
            <div class="box">
                <h4 class="header-description">
                    I am a passionate frontend developer dedicated to crafting seamless web experiences. Join me on my
                    journey as I transform ideas into reality through innovative solutions.
                </h4>
            </div>
        </div>
        <div class="buttons">
            <button color="primary" (click)="onClickLink('/projects')" mat-raised-button>
                My Projects
            </button>
        </div>
    </div>
    <div class="image-container">
        <img class="radius-border" src="images/profile-image-2.jpg" alt="Developer" loading="lazy">
    </div>
</section>
<section id="about">
    <div class="about-me-headline">
        <h5>innovative</h5>
        <h2>
            Crafting Exceptional Web Experiences with Expertise
        </h2>
    </div>
    <div class="about-me-details">
        <p>
            With a solid foundation in frontend development, I specialize in creating dynamic and responsive web
            applications using Angular and TypeScript. My passion for technology drives me to continuously refine my
            skills and explore new frameworks. I am dedicated to delivering high-quality user experiences that meet the
            needs of clients and users alike.
        </p>
        <div class="buttons">
            <button color="primary" (click)="onClickLink('/about-me')" mat-raised-button>
                Learn more
            </button>
            <gh-button [button]="{route:'/contact-me', label: 'Contact'}"></gh-button>
        </div>
    </div>
    <div class="about-me-image">
        <img class="radius-border" loading="lazy" src="images/home-page-innovative.png" alt="About me image"
            onerror="this.src='images/placeholder-image.png'">
    </div>
</section>
<section id="skillsSection">
    <h1>Skills</h1>
    <div class="skills">
        @for (skill of skills; track $index) {
        <skill-details [skill]="skill"></skill-details>
        }
    </div>
</section>
<section id="projects">
    <h5>Portfolio</h5>
    <h1>My Featured Projects</h1>
    <p>Explore my latest work and innovative solutions.</p>
    <div class="projects">
        @for (project of projects; track $index ){
        <project-card [project]="project">

        </project-card>
        }
    </div>

</section>

<section id="contact">
    <h1>Let's Connect</h1>
    <div>
        <p>
            Feel free to reach out with any questions or inquiries
        </p>
    </div>
    <contact-form></contact-form>
</section>