@use '../../shared/variables.scss'as colors;
@use '../../responsive.scss'as responsive;
@use "sass:color";

section {
    padding: 2rem;
    max-width: 100rem;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

    .header-content {
        display: grid;
        gap: 2rem 1rem;
    }

    .header-title {
        margin: 0;
    }

    .buttons {
        z-index: 1;
    }
}

.about-me-details {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;

    .my-image {
        display: grid;
        width: calc(100% - 1rem - 70%);
        min-width: 20rem;

        img {
            width: 100%;
            border-radius: 50%;
            box-shadow: rgb(9 9 9 / 85%) 20px 18px 10px;
            filter: opacity(0.5);
            transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
            z-index: 0;

            @media (hover: hover) {
                &:hover {
                    filter: opacity(1);
                    border-radius: 3rem;
                }
            }
        }

    }

    .about-description {
        width: 100%;
    }

    @include responsive.respond-to('xl') {
        justify-content: space-around;
        align-items: center;

        .about-description {
            width: 70%;
        }
    }
}

.skills-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .skill-card {
        display: grid;
        grid-template-rows: 4rem 3rem 3rem;
        border: .1rem solid colors.$lilac;
        border-radius: 1rem;
        width: 15%;
        min-width: 12rem;
        max-width: 25rem;
        height: 10rem;
        text-align: center;
        padding: .5rem;
        transition: all ease-in-out .2s;
        align-items: center;
        flex-grow: 1;

        i,
        img {
            width: 2.5rem;
        }

        fa-icon {
            font-size: 2.5rem;
        }

        @media (hover: hover) {
            &:hover {
                box-shadow: rgb(0 0 0 / 45%) 8px 8px 29px 5px;
                opacity: .8;
            }
        }
    }
}

.contact-me {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;

    .contact-icon {
        font-size: 2rem;
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .2s;

        @media (hover: hover) {
            &:hover {
                transform: rotate(6deg);
                opacity: .7;
            }
        }

        &:active {
            transform: rotate(3deg);
            opacity: .85;
        }
    }
}