<section class="details-with-image header">
    <div class="header-content details-side">
        <div>
            <div class="box">
                <h5 class="name">
                    Hey, I’m
                </h5>
            </div>
            <div class="box">
                <h1 class="header-title">
                    Mohammad Ali Jarjoumah
                </h1>
            </div>
            <div class="box">
                <h1 class="header-title">
                    I bring ideas to life online
                </h1>
            </div>
            <div class="box">
                <h4 class="header-description">
                    I am a passionate frontend developer dedicated to crafting seamless web experiences. Join me on my
                    journey as I transform ideas into reality through innovative solutions.
                </h4>
            </div>
        </div>
        <div class="buttons">
            <button color="primary" (click)="onClickLink('/projects')" mat-raised-button>
                My Projects
            </button>
        </div>
    </div>
    <div class="image-container">
        <img src="images/profile-image-2.jpg" alt="Developer" loading="lazy">
    </div>
</section>
<section id="about">
    <div class="about-me-headline">
        <h5>innovative</h5>
        <h2>
            Crafting Exceptional Web Experiences with Expertise
        </h2>
    </div>
    <div class="about-me-details">
        <p>
            With a solid foundation in frontend development, I specialize in creating dynamic and responsive web
            applications using Angular and TypeScript. My passion for technology drives me to continuously refine my
            skills and explore new frameworks. I am dedicated to delivering high-quality user experiences that meet the
            needs of clients and users alike.
        </p>
        <div class="buttons">
            <button color="primary" (click)="onClickLink('/about-me')" mat-raised-button>
                Learn more
            </button>
            <button color="primary" (click)="onClickLink('/contact-me')" mat-raised-button>
                contact <fa-icon icon="chevron-right"></fa-icon>
            </button>
        </div>
    </div>
    <div class="about-me-image">
        <img loading="lazy" src="images/placeholder-image.png" alt="About me image"
            onerror="this.src='images/placeholder-image.png'">
    </div>
    <!-- <h1>About Me</h1>
    <div class="details-with-image">
        <p class="details-side">Results-driven Angular developer translating complex requirements into efficient
            code and exceptional user experiences. I thrive on challenging projects, finding innovative solutions to
            optimize performance and deliver impactful results.<br>
            <br>
            I'm seeking a challenging and rewarding role where I can contribute to the development of innovative web
            applications and further enhance my expertise in Angular and related technologies. I'm particularly
            interested in opportunities to work on full-stack applications using.NET Core and cloud platforms like
            AWS.<br>
            <br>
            I'm committed to staying at the forefront of Angular advancements, including exploring the latest features
            in Angular 19 and beyond, and I'm also expanding my knowledge of .NET Core and .NET MAUI and
            ASP.NET.<br><br> I'm eager to
            contribute to a high-performing team and collaborate on challenging projects that push the boundaries of web
            development, you can find more details in <span class="link">
                <a (click)="onClickLink('/about-me')">about me <fa-icon icon="arrow-up-right-from-square"></fa-icon></a>
            </span>
            page
        </p>
        <div class="image-container">
            <img src="images/profile-image-2.jpg" alt="Developer">
        </div>
    </div> -->
</section>
<section id="skillsSection">
    <h1>skills</h1>
    <div class="skills">
        @for (skill of skills; track $index) {
        <div class="skill">
            <span>
                @if (skill.faIcon) {
                <fa-icon
                    [icon]="[(skill.faIcon.iconPrefix ?  skill.faIcon.iconPrefix : 'fas'), skill.faIcon.iconName]"></fa-icon>
                } @else {
                <img src="{{skill.svgIcon}}" loading="lazy" [alt]="skill.title">
                }
            </span>
            <div class="skill-details">
                <p class="title">{{skill.title}}</p>
                <!-- <p>{{skill.description}}</p> -->
                <p class="level">{{skill.level}}</p>
            </div>
        </div>
        }
    </div>
</section>

<section id="contact">
    <h1>Let's Connect</h1>
    <div>
        <p>
            Feel free to reach out with any questions or inquiries
        </p>
    </div>
    <contact-form></contact-form>
</section>