@use '../../shared/variables.scss'as variables;
@use '../../responsive.scss'as responsive;
@use "sass:color";
@use '../../shared/mixins.scss'as mixins;

section {
    padding: 2rem;
    max-width: 100rem;
    margin: auto;
}

.name,
.header-description {
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 1px variables.$lilac;
    font-weight: 900;
}

.down-to-top {
    @include mixins.movingAnimation($animationName:downToTop);
}

.left-to-right {
    @include mixins.movingAnimation($animationName:rightToLeft);
}

.right-to-left {
    @include mixins.movingAnimation($animationName:leftToRight);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 100px);

    .header-content {
        display: grid;
        gap: 2rem 1rem;
    }

    .header-title {
        margin: 0;
        overflow: hidden;
        -webkit-text-stroke: 0;
    }

    @media (max-width: 386.98px) {
        padding-top: 6rem;
    }

    @include responsive.responsive('lg') {
        padding-top: 6rem;
    }
}

.about-me-details {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;

    .my-image {
        display: grid;
        width: calc(100% - 1rem - 70%);
        min-width: 20rem;
        min-height: 20rem;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: rgb(9 9 9 / 85%) 20px 18px 10px;
            filter: opacity(0.5);
            transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
            z-index: 0;

            @media (hover: hover) {
                &:hover {
                    filter: opacity(1);
                    border-radius: 3rem;
                }
            }
        }

    }

    .about-description {
        width: 100%;
    }

    @include responsive.respond-to('xl') {
        justify-content: space-around;
        align-items: center;

        .about-description {
            width: 70%;
        }
    }
}

.skills {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;

    @include responsive.respond-to('xxs') {
        grid-template-columns: auto;
    }

    .skill {
        display: grid;
        grid-template-columns: 3rem auto;
        row-gap: .5rem;
        padding: .5rem;
        align-items: center;

        img {
            width: 2rem;
        }

        fa-icon {
            font-size: 2rem;
        }

        .skill-details {
            display: grid;
            row-gap: .5rem;

            .title {
                font-weight: 550;
            }
        }
    }
}

section#contact {
    display: grid;
    row-gap: 1rem;
}

.link {

    &,
    fa-icon {
        transition: color variables.$transitionVariable .2s;
    }

    @media (hover: hover) {
        &:hover fa-icon {
            color: #fff;
        }
    }
}